{% extends "base.html" %}

{% block titleExtra %} | Home {% endblock %}

{% block featureInfo %}
	<div id="templatemo_feature">

		<div id="feature_left">
        
        	<h1>Welcome Molly Nacey</h1>
            <p>Check out what's been happening on BuckIt!<br>
            	Total points: 435<br>
            	Current Ranking: 33</p>
        
        </div>
        
        <div id="feature_right">
        
        	<div id="feature_image"><span></span>
            	<img src="/static/images/award.png" alt="" />
            </div>
        
        </div>
	
	</div> <!-- end of feature -->
{% endblock %}

{% block contentInfo %}
    <div id="templatemo_content">
    	
        <h2>Welcome to <span>Corporate Template</span></h2>
        
      <p>This <a href="http://www.templatemo.com" target="_parent">free web template</a> is provided by <a href="http://www.templatemo.com" target="_parent">TemplateMo.com</a> website. You may use this template in your websites. Credit goes to <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for photos. </p>
      <p>Fusce ac orci sit amet velit ultrices condimentum. Integer imperdiet odio ac eros. Ut id massa. Nullam nunc. Vivamus sagittis varius lorem.Maecenas aliquam, ligula id egestas suscipit, nisi sapien dignissim nibh, ac vestibulum lorem urna in neque.</p>
        <div class="readmore"><a href="#">read more</a></div>
        
        <div class="cleaner_h40"></div>
        
        <h2>Our <span>Services</span></h2>
        <p>	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illovitae dicta sunt explicabo.</p>
        
        <div class="col_w265 float_l">
            <h3>Web Design</h3>
            <div class="two_col_image">
                <a href="#"><img src="images/templatemo_image_02.png" alt="image" width="249" height="105" /></a>            </div>
          <p>Aenean cursus aesf aecenas aliquam, ligula idegers estas suscipit, nisisapien dignissim nibh, acvestibulum lore mur nain neque. </p>
            <div class="readmore"><a href="#">read more</a></div>
        </div>
        
        <div class="col_w265 float_r">
            <h3>Photography</h3>
            <div class="two_col_image">
                <a href="#"><img src="images/templatemo_image_03.png" alt="image" width="249" height="105" /></a> </div>
          <p>Phasellus convallis facilisis risus vitae fringilla. Aliquam imperdiet, est at scelerisque tincidunt, orci ipsum mattis est.</p>
            <div class="readmore"><a href="#">read more</a></div>
        </div>
    
    </div> <!-- end of content -->
    
    <div id="templatemo_sidebar">
    	
        <h2>Latest <span>News</span></h2>
        <div class="newsbox">
        	<div class="news_image"><span></span><img src="/static/images/templatemo_image_04.png" alt="image" /></div>
            <p><b>3:30 pm</b><br> Zack Garcia checked off "Go to Hoagie Haven". </p>
            <div class="cleaner"></div>
        </div>
        <div class="newsbox">
        	<div class="news_image"><span></span><img src="/static/images/templatemo_image_06.png" alt="image" /></div>
            <p><b>March 3</b><br> Danny Guo checked off "Prospect 11".</p>
            <div class="cleaner"></div>
        </div>
        <div class="newsbox">
        	<div class="news_image"><span></span><img src="/static/images/templatemo_image_06.png" alt="image" /></div>
            <p><b>March 1</b><br> Danny Guo started list "Princeton Seniors". </p>
            <div class="cleaner"></div>
        </div>
    </div> <!-- end of slider -->
    
    <div class="cleaner_h30"></div>
    
    <div id="latest_projects">
    
	<div id="latest_project_text">
            <h2>Latest Projects</h2>
            <p>	Sedut perspiciatis unde omnis iste natus error sit volup tatem accus antium dolorem que lauda ntiumAt vero eos et accusamus et iusto odio.</p>
        </div>
        
        <div class="project_image_box margin_r15">
            <div class="project_image"><span></span>
            	<img src="images/templatemo_image_07.png" alt="image 1" />
            </div>
            <h5><a href="#">sed ut perspiciatis.</a></h5>
	  </div>
        
	<div class="project_image_box margin_r15">
            <div class="project_image"><span></span>
            	<img src="images/templatemo_image_08.png" alt="image 2" />
            </div>
        	<h5><a href="#">emque laudantium</a></h5>
	  </div>
        
	<div class="project_image_box margin_r15">
            <div class="project_image"><span></span>
            	<img src="images/templatemo_image_09.png" alt="image 3" />
            </div>
        <h5><a href="#">eaque ipsa quae</a></h5>
	  </div>
        
      <div class="project_image_box">
	<div class="project_image"><span></span>
            	<img src="images/templatemo_image_10.png" alt="image 4" />
            </div>
          <h5><a href="#">similique sunt.</a></h5>
	  </div>

    </div>
	
	<div  class="cleaner"></div>
{% endblock %}
