{% extends "base.html" %}

{% block titleExtra %} | Home {% endblock %}

{% block scriptfn %}
<script type="text/javascript">
$(function() { 
    jQuery(".tagManager").tagsManager({
        preventSubmitOnEnter: false,
        typeahead: true,
        typeaheadAjaxSource: null,
        typeaheadSource: ["Princeton", "Family", "Friends"],
        blinkBGColor_1: '#FFFF9C',
        blinkBGColor_2: '#CDE69C',
    });
});</script>
<script type="text/javascript">
$(function() {
        $('#home_nav_button').addClass('current-page');
        $('#profile_nav_button').removeClass('current-page');
        $('#search_nav_button').removeClass('current-page');
        $('#login_nav_button').removeClass('current-page');
    });
</script>

<script type="text/javascript">
function submitOnRecClick(recaddform) {
    document.forms[recaddform].submit();
}
</script>

<script type="text/javascript">
function submitOnCheckClick(recaddform) {
    document.forms[recaddform].submit();
}
</script>

<script>
FB.api('/me/friends', function(response){
   var friendIDs = new Array();
   var friendPics = new Array();
   for (i = 0; i < response.data.length; i++)
   {
       friendIDs[i] = response.data[i].id;
       picString = '/' + friendIDs[i] + '/picture';
       FB.api(picString, function(resp){
          friendPics[i] = resp.data.url;			                				
      });                		
   }
});
</script>    
{% endblock %}

{% block grayBlock %}
    <div class="page-title">
        <div class="container">
            <div class="row buckit_blue">
                    <h1 class="span1"><i class="icon-user page-title-icon"></i></h1>
                    <h1 class="span5">{{name}}</h1>
            </div>
        </div>
        <form name = "getID" action="." method="POST">
        	<input id="fbid" type="hidden" name="facebookid">
        </form>
        <script>
        	document.getElementById('fbid').value = uid;
        	document.forms['getID'].submit();
        </script>  	
    </div>
    
{% endblock %}

{% block Content %}
<div class="container">
    <div class="row">
        <div class="span7"> 
            <div class="row">
                <h2>My BuckIt List</h2>
            </div>
            <div class="row">
                <div class="add-task">
                    <div class="task-form">
                        <form name="taskform" class="form-inline" method="post" action=".">{% csrf_token %}
                            <input id="name" type="text" name="task" placeholder="Add a new task..."/>
                            <input type="text" name="tags" placeholder="Add tags..." class="tagManager"/>
                            <button type="submit" name="addTask"> + </button>
                        </form>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            document.forms['taskform'].elements['task'].focus();
            </script>
            <div class="row">

                <table class="table">
                    <tr class="tableTitle">
                        <td class="tableTitle"></td>
                        <td>Task</td>
                        <td>Day Added</td>
                        <td>Day Completed</td>
                        <td>Tags</td>
                    </tr>
                    <tr>
                     {% for own in owns %}
                     <tr>
                        {% if own.completed %}
                        <td><i class="icon-check"></i></td>
                        {% else %}
                        <td><form id="{{own.task.task_text}}-check" name="{{own.task.task_text}}-checktask" method="POST" action=".">
                            {% csrf_token %}
                            <input type="hidden" value="{{own.task.task_text}}" id="taskInfo" name="checkInfo"/>
                            <input type="checkbox" id="check_submit" onClick="submitOnCheckClick('{{own.task.task_text}}-check');" name="check_submit"/>
                        </form>
                        </td>
                        {% endif %}
                         <td>{{own.task.task_text}}</td>
                         <td>{{own.date_set}}</td>
                         {% if own.completed %}
                         <td>{{own.date_done}}</td>
                         {% else %}
                         <td></td>
                         {% endif %}
                         <td>
                            {% for tag in own.task.tags.all %}
                            #{{tag.tag_text}}</br>
                            {% endfor %}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        <div class="container offset1 span4">
                <div class="row  rec_title">
                    <h4>Add Recommended Task:</h4>
                </div>
                <div class="row rec_title form-inline">
                    {% for task in topTasks %}
                    <div>
                        <form id="{{task.task_text}}-form" name="recsubmit" method="POST" action=".">
                            {% csrf_token %}
                            <input type="hidden" value="{{task.task_text}}" id="taskInfo" name="recInfo"/>
                            <a id="submitrec" onclick="submitOnRecClick('{{task.task_text}}-form');" name="recsubmit">
                                <div class="rec span1">
                                    <p>{{task.task_text}}</p>
                                </div>
                            </a>
                        </form>
                        </div> 
                    {% endfor %}
                    <div>
                    <a href="/search/">
                        <div class="rec span1">
                            <p>Search for more tasks!</p>
                        </div>
                    </a>
                </div>
                </div>
            <div class="newsfeed">
                <div class ="row">
                    <div class ="news">
                        <h4>News Feed</h4>
                        <div class="icon-awesome pull-right"><h4>
                            <button class="login" onclick="login()" title="Click to connect with facebook and update newsfeed"><i class="icon-facebook-sign"></i> CONNECT</button></h4> 
                        </div>
                    </div>
                </div>
                {% if newsevents %}
                {% for event in newsevents%}
                <div class="row">
                    <div class="news">
                        <img src="static/img/portfolio/work1.jpg" alt="">
                        {% if event.isCompleted %}
                        <p>{{event.complete_date}}<br>{{event.user}} completed {{event.event}}</p>
                        {% else %}
                        <p>{{event.complete_date}}<br>{{event.user}} completed {{event.event}}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="row" style="background-color:#f8f8f8">
                    <h4> Click to allow access to facebook and see what your friends have been up to on BuckIt</h4>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}