{% extends "base.html" %}

{% block titleExtra %} | Home {% endblock %}

{% block scriptfn %}
<script type="text/javascript">
$(function() { 
    jQuery(".tagManager").tagsManager({
        preventSubmitOnEnter: false,
        typeahead: true,
        typeaheadAjaxSource: null,
        typeaheadSource: ["Princeton", "Family", "Friends"],
        blinkBGColor_1: '#FFFF9C',
        blinkBGColor_2: '#CDE69C',
    });
});</script>
<script type="text/javascript">
$(function() {
        $('#home_nav_button').addClass('current-page');
        $('#profile_nav_button').removeClass('current-page');
        $('#search_nav_button').removeClass('current-page');
        $('#login_nav_button').removeClass('current-page');
    });
</script>

<script type="text/javascript">
function submitOnRecClick(recaddform) {
    document.forms[recaddform].submit();
}
</script>

<script type="text/javascript">
function submitOnCheckClick(recaddform) {
    document.forms[recaddform].submit();
}
</script>

<script type="text/javascript">
function submitOnTrashClick(recaddform) {
    document.forms[recaddform].submit();
}
</script>

<script>

function saveUID(callback) {
    FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
            var uid = response.authResponse.userID;
            var accessToken = response.authResponse.accessToken;
            document.getElementById('fbid').value= uid;
        } else if (response.status === 'not_authorized') {
        // not_authorized
    } else {
        // not_logged_in
    }
    });
};

function saveFBPic(callback) {
    FB.api('/me/picture', function(response) {
        var fbPic = response.data.url;
        callback(fbPic);    
    });
};
function fbPicReceived(fbPic) {
     document.getElementById('fbpic').value = fbPic;
};

function saveFriendIDs(callback) {
    FB.api('/me/friends', function(response) {
       var friendIDs = '';
       for (i = 0; i < response.data.length; i++)
       {
           friendIDs = friendsIDs + response.data[i].id + ',';                      
       }
       callback(friendIDs);
    });
};

function friendIDsReceived(friendIDs) {
     document.getElementById('friendids').value = friendIDs;
};

function fb_connect() {
    login();
    saveUID(responseReceived);
	
    FB.api('/me', function(response) {
	alert('Your name is ' + response.name);
    });

    saveFBPic(fbPicReceived);
    saveFriendIDs(friendIDsReceived);

    document.forms['getFBinfo'].submit();
};
</script>
{% endblock %}

{% block grayBlock %}
    <div class="page-title">
        <div class="container">
            <div class="row buckit_blue">
                    <h1 class="span1">
                        {% if userpic == None %}
                        <i class="icon-user page-title-icon"></i>
                        {% else %}
                        <img src="{{userpic}}"/>
                        {% endif %}
                    </h1>
                    <h1 class="span5">{{name}}</h1>
            </div>
        </div>
        <form name = "getFBinfo" action="." method="POST">{% csrf_token %}
        	<input id="fbid" type="hidden" name="facebookid"/>
        	<input id="fbpic" type="hidden" name="facebookpic"/>
        	<input id="friendids" type="hidden" name="facebookfriends"/>
        </form>	
    </div>
    
{% endblock %}

{% block Content %}
<div class="container">
    <div class="row">
        <div class="span7"> 
            <div class="row">
                <h2>My BuckIt List</h2>
            </div>
            <div class="row">
                <div class="add-task">
                    <div class="task-form">
                        <form name="taskform" class="form-inline" method="post" action=".">{% csrf_token %}
                            <input id="name" type="text" name="task" placeholder="Add a new task..."/>
                            <input type="text" name="tags" placeholder="Add tags..." class="tagManager"/>
                            <button type="submit" name="addTask"> + </button>
                        </form>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            document.forms['taskform'].elements['task'].focus();
            </script>
            <div class="row">

                <table class="table">
                    <tr class="tableTitle">
                        <td class="tableTitle"></td>
                        <td>Task</td>
                        <td>Day Added</td>
                        <td>Day Completed</td>
                        <td>Tags</td>
                    </tr>
                    <tr>
                     {% for own in owns %}
                     <tr>
                        {% if own.completed %}
                        <td><form id="{{own.task.task_text}}-check" name="{{own.task.task_text}}-checktask" method="POST" action=".">
                            {% csrf_token %}
                            <input type="hidden" value="{{own.task.task_text}}" id="taskInfo" name="checkInfo"/>
                            <i class="icon-check" onClick="submitOnCheckClick('{{own.task.task_text}}-check');" name="check_submit" style="color:red;"></i>
                        </form></td>
                        {% else %}
                        <td><form id="{{own.task.task_text}}-check" name="{{own.task.task_text}}-checktask" method="POST" action=".">
                            {% csrf_token %}
                            <input type="hidden" value="{{own.task.task_text}}" id="taskInfo" name="checkInfo"/>
                            <input type="checkbox" id="check_submit" onClick="submitOnCheckClick('{{own.task.task_text}}-check');" name="check_submit"/>
                        </form>
                        </td>
                        {% endif %}
                         <td>{{own.task.task_text}}</td>
                         <td>{{own.date_set}}</td>
                         {% if own.completed %}
                         <td>{{own.date_done}}</td>
                         {% else %}
                         <td></td>
                         {% endif %}
                         <td>
                            {% for tag in own.task.tags.all %}
                            #{{tag.tag_text}}</br>
                            {% endfor %}</td>
                            <td><form id="{{own.task.task_text}}-trash" name="{{own.task.task_text}}-trashtask" method="POST" action=".">
                                {% csrf_token %}
                                <input type="hidden" value="{{own.task.task_text}}" id="trashInfo" name="trashInfo"/>
                                <i class="icon-trash" onClick="submitOnTrashClick('{{own.task.task_text}}-trash');" name="trash_submit"></i>
                            </form></td>

                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        <div class="container offset1 span4">
                <div class="row  rec_title">
                    <h4>Add Recommended Task:</h4>
                </div>
                <div class="row rec_title form-inline">
                    {% for task in topTasks %}
                    <div>
                        <form id="{{task.task_text}}-form" name="recsubmit" method="POST" action=".">
                            {% csrf_token %}
                            <input type="hidden" value="{{task.task_text}}" id="taskInfo" name="recInfo"/>
                            <a id="submitrec" onclick="submitOnRecClick('{{task.task_text}}-form');" name="recsubmit">
                                <div class="rec span1">
                                    <p>{{task.task_text}}</p>
                                </div>
                            </a>
                        </form>
                        </div> 
                    {% endfor %}
                    <div>
                    <a href="/search/">
                        <div class="rec span1">
                            <p>Search for more tasks!</p>
                        </div>
                    </a>
                </div>
                </div>
            <div class="newsfeed">
                <div class ="row">
                    <div class ="news">
                        <h4>News Feed</h4>
                        <div class="icon-awesome pull-right"><h4>
                            <button class="login" onclick="fb_connect()" title="Click to connect with facebook and update newsfeed"><i class="icon-facebook-sign"></i> CONNECT</button></h4> 
                        </div>
                    </div>
                </div>
		{% if friendNews %}
                {% for event in friendNews%}
                <div class="row">
                    <div class="news">
                        <img src="static/img/portfolio/work1.jpg" alt="">
                        {% if event.completed %}
                        <p>{{event.date_done}}<br>{{event.userProfile}} completed {{event.task}}</p>
                        {% else %}
                        <p>{{event.date_set}}<br>{{event.userProfile}} completed {{event.task}}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="row" style="background-color:#f8f8f8">
                    <h4> Click to allow access to facebook and see what your friends have been up to on BuckIt</h4>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block delete_account %}
<form method="POST" action="." id="deleteform" name="deleteform"> 
    {% csrf_token %}
    <h5>Click <a name="delete_account" onClick="confirmation()">here</a> to delete account.</h5>
    <input type="hidden" id="delete_account" name="delete_account"/>
</form>
{% endblock %}