{% extends "base.html" %}

{% block titleExtra %} | {{list_name}} {% endblock %}

{% block grayBlock %}
    <div class="listview">
        <div class="container">
            <div class="row">
                <div class="span10 offset1">
                    <div class="listinset">
                    	<div class="row">
                    		<h3>{{list_name}}</h3>
                    	</div>
                    	<div class="row">
                    		<div class="task">
    	                    		<i class="icon-check-empty span1 offset1"></i>
    	                    		<p class="span7"> Go to Hoagie Haven</p>
                    		</div>
                    	</div>
                    	<div class="row">
                   			<div class="task">
    	                    		<i class="icon-check-empty span1 offset1"></i>
    	                    		<p class="span7"> Task 1 asjkflja;lksdjf;lkaj slkdfjlkasjldfsjasdkljfkldsjalkfjlkadsjflkjl lfjasldk fljas fkldaj lka lkaflka sfja fa;sf dasf alskdf jlksd jafkl jkasls fkldsaf jak;lj</p>
                    		</div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}