{% extends "base.html" %}

{% block titleExtra %} | Login {% endblock %}

{% block scriptfn %}
<script type="text/javascript">
$(function() {
    $('#login_nav_button').addClass('current-page');
    $('#profile_nav_button').removeClass('current-page');
    $('#search_nav_button').removeClass('current-page');
    $('#home_nav_button').removeClass('current-page');
});
</script>
{% endblock %}

{% block grayBlock %}
        <div class="slider">
            <div class="container">
                <div class="row">
                    <div class="span8 offset2">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="/static/img/buckitlogopic.png">
                                    <img src="/static/img/buckitlogopicbig.png">
                                </li>
                                <li data-thumb="/static/img/slider/2.jpg">
                                    <img src="/static/img/slider/2.jpg">
                                </li>
                                <li data-thumb="/static/img/slider/1.jpg">
                                    <img src="/static/img/slider/1.jpg">
                                </li>
                                <li data-thumb="/static/img/slider/3.jpg">
                                    <img src="/static/img/slider/3.jpg">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block Content %}
        <div class="what-we-do container">
            <div class="row">
                <div class="service span5 offset3">
                    <div class="icon-awesome">
                        <i class="icon-facebook-sign"></i>                    
                    </div>
                    <h4><button class="login" onclick="login()">LOGIN</button></h4>
                </div>
            </div>
        </div>
        <div class="fb-like" data-send="true" data-width="450" data-show-faces="true" /></div>
{% endblock %}
