{% extends "base.html" %}

{% block titleExtra %} | Login {% endblock %}

{% block grayBlock %}
        <div class="slider">
            <div class="container">
                <div class="row">
                    <div class="span8 offset2">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="/static/img/buckitlogopic.png">
                                    <img src="/static/img/buckitlogopicbig.png">
                                    <p class="flex-caption">BuckIt is the new way to get your goals down and keep track of what your friends are doing. So basically its super cool.</p>
                                </li>
                                <li data-thumb="/static/img/slider/2.jpg">
                                    <img src="/static/img/slider/2.jpg">
                                    <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                </li>
                                <li data-thumb="/static/img/slider/1.jpg">
                                    <img src="/static/img/slider/1.jpg">
                                    <p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur.</p>
                                </li>
                                <li data-thumb="/static/img/slider/3.jpg">
                                    <img src="/static/img/slider/3.jpg">
                                    <p class="flex-caption">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block Content %}
        <div class="what-we-do container">
            <div class="row">
                <div class="service span5 offset3">
                    <div class="icon-awesome">
                        <i class="icon-facebook-sign"></i>
                    </div>
                    <h4>Login</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
                    <a href="services.html">Read more</a>
                </div>
            </div>
        </div>
{% endblock %}
