{% extends "base.html" %}

{% block titleExtra %} | Login {% endblock %}

{% block featureInfo %}
	<div id="templatemo_feature">
        
        <div id="feature_left">
        
        	<div id="feature_image"><span></span>
            	<h1>Login:</h1>
            </div>
        
        </div>
	
	</div>
{% endblock %}

{% block contentInfo %}
<div id="templatemo_content">
    	
        <h2>Welcome to <span>Corporate Template</span></h2>
        
      <p>This <a href="http://www.templatemo.com" target="_parent">free web template</a> is provided by <a href="http://www.templatemo.com" target="_parent">TemplateMo.com</a> website. You may use this template in your websites. Credit goes to <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for photos. </p>
      <p>Fusce ac orci sit amet velit ultrices condimentum. Integer imperdiet odio ac eros. Ut id massa. Nullam nunc. Vivamus sagittis varius lorem.Maecenas aliquam, ligula id egestas suscipit, nisi sapien dignissim nibh, ac vestibulum lorem urna in neque.</p>
 
        <div class="cleaner_h40"></div>
    
    </div> <!-- end of content -->
{% endblock %}