{% extends "base.html" %}

{% block titleExtra %} | Profile {% endblock %}

{% block scriptfn %}
<script type="text/javascript">
$(document).ready(function() {
    $('#badgecontainer').hide();

    $('#listbutton').live('click', function(event) {
        $('#listcontainer').show();
        $('#badgecontainer').hide();
    });

    $('#badgebutton').live('click', function(event) {
        $('#badgecontainer').show();
        $('#listcontainer').hide();
    });
});

$(function() {
    $('#profile_nav_button').addClass('current-page');
    $('#home_nav_button').removeClass('current-page');
    $('#search_nav_button').removeClass('current-page');
    $('#login_nav_button').removeClass('current-page');
});
</script>
{% endblock %}
<!-- Gray Block -->
{% block grayBlock %}
<div class="page-title">
    <div class="container">
        <div class="row buckit_blue">
            <h1 class="span1"><i class="icon-user page-title-icon"></i></h1>
            <h1 class="span5">{{ nameprof }}</h1>
        </div>
    </div>
</div>
{% endblock %}

<!-- Content -->
{% block Content %}
<div class="container profile">
	<div class="row">
		<a id="listbutton" href="#">List</a>
		<a id="badgebutton" href="#">Badges</a>
	</div>
</div>
<div id="listcontainer" class="container" style="">
    <div class="row">
        <div class="span10 offset1">
            <div class="row">
                <h2>My BuckIt List</h2>
            </div>
            <div class="row">
                <table class="table">
                    <tr class="tableTitle">
                        <td class="tableTitle">Task</td>
                        <td>Day Added</td>
                        <td>Day Completed</td>
                        <td>Tags</td>
                    </tr>
                    <tr>
                       {% for own in owns %}
                       <td>{{own.task.task_text}}</td>
                       <td>{{own.date_set}}</td>
                       {% if own.completed %}
                       <td>{{own.date_done}}</td>
                       {% else %}
                       <td></td>
                       {% endif %}
                       <td>
                        {% for tag in own.task.tags.all %}
                        #{{tag.tag_text}}</br>
                        {% endfor %}</td>
                        {% if not profIsUser %}
                           {% if own.task in owntasks %}
                           <td><i class="icon-ok" style="color:red;"></i></td>
                           {% else %}
                           <td><form name="addtask" method="POST" action=".">{% csrf_token %}
                            <button name="addtaskbutton" type="submit" value="{{own.task.task_text}}">+</button></form> </td>
                            {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<div id="badgecontainer" class="container">
   <div class="row">
    <div class="span10 offset1">
        {% for badge in badges %}
        <div class="row">
            <h5>{{badge.badge_title}}</h5>
            <img src="{{badge.bad_pic}}">    
            <p>{{badge.badge_text}}</p>
        </div> 
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}