{% extends "base.html" %}

{% block titleExtra %} | Profile {% endblock %}

{% block scriptfn %}
<script type="text/javascript">
$(document).ready(function() {
    $('#newscontainer').hide();
    $('#badgecontainer').hide();

    $('#newsbutton').live('click', function(event) {
        $('#newscontainer').show();
        $('#listcontainer').hide();
        $('#badgecontainer').hide();
    });

    $('#listbutton').live('click', function(event) {
        $('#listcontainer').show();
        $('#newscontainer').hide();
        $('#badgecontainer').hide();
    });

    $('#badgebutton').live('click', function(event) {
        $('#badgecontainer').show();
        $('#newscontainer').hide();
        $('#listcontainer').hide();
    });
});
</script>

{% endblock %}
<!-- Gray Block -->
{% block grayBlock %}
<div class="page-title">
    <div class="container">
        <div class="row buckit_blue">
            <h1 class="span1"><i class="icon-user page-title-icon"></i></h1>
            <h1 class="span5">{{ name }} Molly Nacey</h1>
        </div>
    </div>
</div>
{% endblock %}

<!-- Content -->
{% block Content %}
<div class="container profile">
	<div class="row">
		<a id="newsbutton" href="#">Newsfeed</a>
		<a id="listbutton" href="#">List</a>
		<a id="badgebutton" href="#">Badges</a>
	</div>
</div>
<div id="listcontainer" class="container" style="">
    <div class="row">
        <div class="span10 offset1">
            <div class="row">
                <h2>My BuckIt List</h2>
            </div>
            <div class="row">
                <table class="table">
                    <tr class="tableTitle">
                        <td class="tableTitle">Task</td>
                        <td>Day Added</td>
                        <td>Day Completed</td>
                        <td>Tags</td>
                    </tr>
                    <tr>
                       {% for own in owns %}
                       <td>{{own.task.task_text}}</td>
                       <td>{{own.date_set}}</td>
                       {% if own.completed %}
                       <td>{{own.date_done}}</td>
                       {% else %}
                       <td></td>
                       {% endif %}
                       <td>
                        {% for tag in own.task.tags.all %}
                        #{{tag.tag_text}}</br>
                        {% endfor %}</td>
                        <td><button type="submit"> + </button></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<div id="newscontainer" class="container">
   <div class="row">
    <div class="span10 offset1">
        <div class="row">
            <div class="newsfeed">
                <div class ="row">
                    <div class ="news">
                        <h4>News Feed</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="news">
                        <img src="static/img/portfolio/work1.jpg" alt="">
                        <p>May 3, 2012<br> Molly Nacey added "Go to Hoagie Haven"</p>
                    </div>
                </div>

                <div class="row">
                    <div class="news">
                        <img src="static/img/portfolio/work1.jpg" alt="">
                        <p>March 6, 2013<br> Molly Nacey completed "Enroll in COS 333"</p>
                    </div>
                </div>
                <div class="row">
                    <div class="news">
                        <img src="static/img/portfolio/work1.jpg" alt="">
                        <p>March 6, 2013<br> Molly Nacey completed "Join BuckIt"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="badgecontainer" class="container">
   <div class="row">
    <div class="span10 offset1">
        <div class="row">
            <p>Doer Of Things</p>
            <img src= "static/img/redicon.png">    
            <p>Completed 10 tasks</p>
        </div>
        <div class ="row">
            <p>Trendsetter</p>
            <img src= "static/img/blueicon.png">
            <p>Have a friend add one of your tasks</p>
        </div>
        <div class ="row">
            <p>The Sampler</p>
            <img src ="static/img/greenicon.png">
            <p>Completed tasks with 5 different tags</p>
        </div>  
    </div>
</div>
</div>
{% endblock %}